<div class="container">
  <h2>How works</h2>

  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="https://www.propietariosonline.com/static/frontend/img/Apsl_oficina.jpg">
    </div>
    <div class="col-md-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium laborum explicabo saepe. Nihil doloribus
      amet, in aperiam tenetur molestiae dolore. Repudiandae quaerat inventore ipsa sequi dicta veritatis, ipsum fugit
      praesentium!
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium laborum explicabo saepe. Nihil doloribus
      amet, in aperiam tenetur molestiae dolore. Repudiandae quaerat inventore ipsa sequi dicta veritatis, ipsum fugit
      praesentium!
    </div>
    <div class="col-md-4">
      <img class="img-fluid" src="https://www.propietariosonline.com/static/frontend/img/Apsl_oficina.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="https://www.propietariosonline.com/static/frontend/img/Apsl_oficina.jpg">
    </div>
    <div class="col-md-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium laborum explicabo saepe. Nihil doloribus
      amet, in aperiam tenetur molestiae dolore. Repudiandae quaerat inventore ipsa sequi dicta veritatis, ipsum fugit
      praesentium!
    </div>
  </div>

  <div>
    <u>
      <h3>Our brands</h3>
    </u>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <div class="card p-3" style="width:300px">
      <h2>Card Image</h2>
      <p>Image at the top (card-img-top):</p>
      <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>


    <div class="card p-3" style="width:300px">
      <h2>Card Image</h2>
      <p>Image at the top (card-img-top):</p>
      <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>

    <div class="card p-3" style="width:300px">
      <h2>Card Image</h2>
      <p>Image at the top (card-img-top):</p>
      <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>

    <app-go-top-button></app-go-top-button>
  </div>
</div>