<div class="lead center text-center">
  <h5>Nos avalan más de 15 años trabajando mano a mano con comunidades de vecinos y empresas de servicios.</h5>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <img class="img-fluid" src="https://comufacil.com/images/sobre-comufacil.jpg">
    </div>
    <div class="col-md-7">
      <p>Después de más de 15 años en el sector de servicios, y tratando durante este tiempo con administradores,
        presidentes y vecinos de comunidades de propietarios, por un lado, y con empresas de servicios orientados a las
        Comunidades por el otro, hemos creado <b>tucomunidad.com</b></p>

      <br>

      <p>El objetivo de este ambicioso proyecto es la de facilitar una de las gestiones principales para cualquier
        Comunidad de vecinos, la que en ocasiones crea mayor dificultad y más discusiones entre los propietarios; la
        <b>solicitud y propuestas de presupuestos</b> de empresas de servicios para el mantenimiento, reparaciones o mejoras de
        los espacios comunes de la Comunidad.</p>

      <br>

      <p>El encargado de la Comunidad de vecinos, ya sea el presidente, el administrador o cualquier otro asignado,
        podrá <b>solicitar tres presupuestos con un solo clic</b>, para cada uno de los servicios que desee, <b>y dar acceso a
            todos los vecinos</b> a la aplicación para poder revisarlos, sugerir cambios o hacer comentarios sobre éstos.</p>

      <br>

      <p>Con Comufácil, conseguirá rápidamente los presupuestos de empresas de servicios para la comunidad sin moverse
        de casa, a la misma vez que podrá dar acceso a sus vecinos como invitados, para que puedan seguir la gestión con
        total transparencia.</p>

      <p>
        Con esta aplicación online pretendemos <b>facilitar la gestión</b>, dar transparencia y conseguir una mejora de
        servicios y ahorro para cualquier Comunidad de vecinos <b>¡y todo ello gratuitamente!</b>
      </p>

      <br>
    </div>
  </div>
  <app-go-top-button></app-go-top-button>
</div>