<app-application-header></app-application-header>
<div class="container-fluid row d-flex justify-content-center">
  <div class="col-md-6 animated fadeInLeft">
    <input class="form-control" type="text" placeholder="Filtrar por recibos">
    <br>
    <div class="card">
      <div class="card-header">
        <h3>Lista de recibos</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Propietario</th>
              <th scope="col">Concepto</th>
              <th scope="col">Importe</th>
              <th scope="col">Fecha pagada</th>
              <th scope="col">Operaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>